.range-slider {
  /* CSS for the wrapper element */

  &[data-disabled] {
    /* CSS for disabled range slider element */
  }

  .range-slider__range {
    /* CSS for range */
    background-color: #4b4848 !important;
  }

  .range-slider__range[data-active] {
    /* CSS for active (actively being dragged) range */
    background: #222 !important;
  }

  .range-slider__thumb {
    /* CSS for thumbs */
    background-color: #222 !important;
  }

  .range-slider__thumb[data-lower] {
    /* CSS for lower thumb */
  }

  .range-slider__thumb[data-upper] {
    /* CSS for upper thumb */
  }

  .range-slider__thumb[data-active] {
    /* CSS for active (actively being dragged) thumbs */
  }

  .range-slider__thumb[data-disabled] {
    /* CSS for disabled thumbs */

  }
}
